/**
 * ManageVehicle Style
 * @author chengle
 * @date 2018-9-14 13:25:46
 */
 @import '../../theme/default/variable.less';
.ManageVehicle {
  // write your style here
  position: relative;

  .buttonRight{
    position: absolute;
    top:7px;
    right: 16px;
  }

  .form {
    padding-bottom: @padding-md;
  }

  &__RightAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  }
  &__InputNumber {
    width: 100%;
  }
}
