.treeBox ul{
  overflow: hidden !important;
}
.treeButton{
  float: left !important;
}
.treeButton::before{
  display:none !important;
}
.treeButton > span:nth-child(2){
  margin-left:33px !important;
}
.treeButton > span:first-child{
  display: none !important;
}

