/**
 * AddAddress Style
 * @author hefan
 * @date 2018/9/18 下午3:32:29
 */
@import '../../theme/default/variable.less';
.AddAddress {
  // write your style here
  .FormHidden{
    margin-bottom: 0;
  }
}




