/**
 * PageBottomButtons Style
 * @author djd
 * @date 2018/9/15 上午8:16:12
 */
 @import '../../../theme/default/variable.less';
.PageBottomButtons {
  display: flex;

  .button {
    margin-right: 10px;
  }
}
