/**
 * Ios Style
 * @author djd
 * @date 2018/9/15 下午5:43:33
 */

.main {
  width: 100%;

  :global(.ant-card-body) {
    padding: 0px !important;
  }
  :global(.ant-tabs-bar) {
    margin: 0px !important;
    // padding: 0 12px !important;
  }

  .btnConfig {
    padding-right: 10px;
  }
}
