.mapOrderSort {
  @top: 54px;
  @fontSize: 12px;
  @firstColPaddingLeft: 10px;

  // position: absolute;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 3px;
  z-index: 2;
  background-color: #fff;
  width: 650px;
  // right: 10px;
  max-height: calc(100vh - 238px);
  // top: @top;

  .divMaxHeight {
    height: calc(100vh - 238px);
    width: 0px;
    position: absolute;
    background-color: #fff;
  }

  :global(.ant-table) {
    font-size: @fontSize;
    td {
      padding: 9px 1px;
      text-align: left;
    }
    td:first-child {
      padding-left: @firstColPaddingLeft;
    }
    th {
      padding: 10px 1px;
      height: 38px;
      text-align: left;
      &:first-child {
        padding-left: @firstColPaddingLeft;
      }
    }

    .moveTr {
      position: absolute;
      z-index: 3;
      opacity: 0.9;
      background-color: #fff;
      border: solid 1px #ccc;

      box-shadow: 0 5px 8px 0 rgba(134, 134, 134, 0.5);
    }
  }

  :global(td.tdMove) {
    height: 40px;
    cursor: move;
    padding: 0;
  }

  :global(.imgMove) {
    height: 40px;
  }
  tr:hover {
    :global(.imgMove) {
      background: url(../mapOrderSort/img/move.png) center center no-repeat;
      background-size: 14px 14px;
    }
  }

  .hold {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 20px;
    height: 20px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
  }

  .ctrl {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: @fontSize;
  }
  .check {
    padding-left: @firstColPaddingLeft;
    font-size: @fontSize;
  }

  .split {
    flex-grow: 1;
  }

  .btn {
    margin-right: 12px;
    height: 28px;
    font-size: @fontSize;
  }
}
