/**
 * ImageZoom Style
 * @author yw
 * @date 2018-9-18 13:37:28
 */
 .ImageZoom {
  // write your style here
}
.ImageBox{
  // .ImageItem{
  //   width: 25%;
  //   display: inline-block;
  // }
  img{
    display: block;
    width: 100%;
    height: 100px;
  }
}
