.divInfoWindow {
  z-index: 100;
  position: absolute;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 2px;
  padding: 0px;

  .divf {
    background-color: #fff;
    z-index: 100;
    padding: 5px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    & table {
      width: 100%;
      & th {
        line-height: 18px;
        width: 88px;
        font-size: 12px;
      }
      & td {
        font-size: 12px;
      }
    }

    .address {
      width: 100%;
      max-height: 36px;
      overflow: hidden;
    }
  }

  .curr {
    width: 20px;
    height: 20px;
    border: solid 1px #ccc;
    background-color: #fff;
    position: absolute;
    z-index: 99;
  }
}
