.point {
  @width: 29px;
  position: absolute;
  font-size: 12px;
  border: solid 2px #afdcf0;
  box-sizing: border-box;
  width: @width;
  height: @width;
  border-radius: @width;
  text-align: center;
  line-height: @width;
  color: #fff;
}

.pointIn {
  @width: 21px;
  width: @width;
  height: @width;
  text-align: center;
  font-size: 12px;
  line-height: @width;
  border-radius: @width;
  color: #fff;
  box-sizing: border-box;
  margin-top: 2px;
  margin-left: 2px;
}
.pointIn2 {
  .pointIn;
  @width: 25px;
  width: @width;
  height: @width;
  line-height: @width;
  border-radius: @width;
  margin-top: 0px;
  margin-left: 0px;
}
