.graph {
  background-color: #fff;
  border-radius: 2px;
  width: 70px;
  height: 30px;
  z-index: 1;

  .legend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .legendImg {
    background-color: #51a1fd;
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .title {
    margin-left: 3px;
    font-size: 12px;
  }
}
