.webglContainer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: url(../backWebGL/img/back.png) no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
}

.bigSphere {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.back {
  overflow: hidden;
}
