.config {
  display: block;
}

.title {
  text-align: right;
  color: rgba(0, 0, 0, 0.85);
}

.divQuality {
  margin-bottom: 24px;
}

.rowinfo {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
