/**
 * VehicleOrderAdd Style
 * @author lhf
 * @date 2018-9-17 09:58:49
 */
.VehicleOrderAdd {
  :global{
    .ant-calendar-today-btn{
      width: 4em;
      white-space: nowrap;
      overflow: hidden;
    }
    .ant-calendar-today-btn:before{
      content: '立即用车';
    }
  }
}
