.divRight {
  width: 38.2%;
  height: 100%;
  float: left;
  position: relative;
  .title1,
  .title2 {
    color: #fff;
    position: absolute;
    top: 19%;
    left: 32.3%;
    width: 26%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 0.15rem;
  }
  .title2 {
    left: 80%;
    width: 30%;
  }
  .divTysz {
    left: 15%;
    top: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 0.2rem;
  }
  .divYsz {
    position: absolute;
    left: 5.5%;
    top: 64%;
    font-size: 0.4rem;
    font-weight: 800;
    text-align: center;
    width: 18.6%;
    transform: translateY(-50%);
  }
  .divTjh,
  .divTdqd,
  .divTyswc {
    left: 31%;
    top: 36.5%;
    position: absolute;
    font-size: 12px;
    transform: translateY(-50%);
  }
  .divJh,
  .divDqd,
  .divYswc {
    position: absolute;
    left: 51%;
    top: 36%;
    font-size: 0.16rem;
    width: 10%;
    transform: translate(-50%, -50%);
    text-align: right;
  }
  .divTdqd {
    top: 54.5%;
  }
  .divDqd {
    top: 55.5%;
  }
  .divTyswc {
    top: 72.5%;
  }
  .divYswc {
    top: 72.5%;
  }

  .divTdds,
  .divTytt,
  .divTpsz,
  .divTwtt {
    color: #fff;
    position: absolute;
    left: 77%;
    font-size: 12px;
    transform: translate(-50%, -50%);

    .point {
      background-color: #fff;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      position: absolute;
      top: 7px;
      left: -8px;
    }
  }
  .divTdds {
    font-size: 14px;
    top: 36%;
    left: 75%;
  }
  .divDds,
  .divYtt,
  .divPsz,
  .divWtt {
    position: absolute;
    left: 89%;
    top: 35%;
    width: 0.8rem;
    color: #ffffff;
    font-size: 12px;
    transform: translate(-50%, -50%);
    text-align: right;
  }
  .divDds {
    top: 37%;
  }
  .divTytt {
    top: 52%;
  }
  .divYtt {
    top: 52%;
  }
  .divTpsz {
    top: 63.5%;
  }
  .divPsz {
    top: 63.5%;
  }
  .divTwtt {
    top: 75.5%;
  }
  .divWtt {
    top: 75.5%;
  }
}

:global(.bstc__theme2) {
  .divRight {
    color: #ffffff;
    .title1,
    .title2 {
      color: #3384ff;
    }
    .divTytt,
    .divTpsz,
    .divTwtt {
      color: #4d4d4d;
      .point {
        background-color: #4d4d4d;
      }
    }
    .divYtt,
    .divPsz,
    .divWtt {
      color: #4d4d4d;
    }
  }
}
