/**
 * ManageDriver Style
 * @author chengle
 * @date 2018-9-13 15:44:27
 */
 @import '../../theme/default/variable.less';
.ManageDriver {
  // write your style here
  // padding: @padding-md;
  // background-color: #fff;

  .buttonRight{
    position: absolute;
    top:7px;
    right: 16px;
  }

  .form {
    padding-bottom: @padding-md;
  }

  &__RightAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  }
  &__InputNumber {
    width: 100% !important;
  }
}
