.mapDataInfo {
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: #fff;
  border-radius: 2px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.title {
  margin-left: 3px;
}

.numitem {
  margin-left: 10px;
  &:first-child {
    margin-left: 0px;
  }
}
.p {
  padding: 0 2px;
}
.num {
  font-weight: bold;
}
