// JigsawSlider Styles
@import '../../../../theme/default/variable.less';

.JigsawSlider {
  @width: 232px;
  @figure-width: @width;
  @figure-height: 130px;
  @track-width: @width;
  @track-height: 36px;
  @handler-width: 36px;
  @handler-height: @track-height;

  @slider-background: #f0f0f0;
  @slider-border-color: #dadde4;

  @default-background-color: #fff;
  @default-border-color: @slider-border-color;
  @active-indicator-background-color: #d3e7ff;
  @active-background-color: #5FA9FF;
  @active-border-color:#57A9FB;
  @correct-indicator-background-color: #E0EFDA;
  @correct-background-color: #87d068;
  @correct-border-color: #63c639;
  @error-indicator-background-color: #F7E6DD;
  @error-background-color: #FF6757;
  @error-border-color: #F34B3A;

  &__Content {
    width: @width;
  }
  &__Title {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    transform: translateY(-10px);
  }
  &__Figure {
    position: relative;
    width: @figure-width;
    height: @figure-height;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__ImagePart {
    left: -9px!important;
    transition: transform @ease-out @animation-duration-base;
  }
  &__Reloading {
    position: absolute;
    right: 4px;
    top: 4px;
    background: none;
    border: 0 none;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    filter:
      drop-shadow(0 0 1px rgba(51, 51, 51, 0.7))
      drop-shadow(0 0 2px rgba(51, 51, 51, 0.6))
      drop-shadow(0 0 3px rgba(51, 51, 51, 0.5));
    font-size: 18px;
    outline: 0 none;
  }
  &__Slider {
    position: relative;
    margin-top: 20px;
    width: @track-width;
    height: @track-height;
    border: 1px solid @slider-border-color;
    background-color: @slider-background;
    text-align: center;
  }
  &__Indicator {
    position: absolute;
    left: -1px;
    top: -1px;
    height: @track-height;
    transition:
      background-color @ease-out @animation-duration-base,
      border @ease-out @animation-duration-base;

    &--default {
      background-color: @active-indicator-background-color;
      border: 1px solid @active-border-color;
    }
    &--pending {
      background-color: @active-indicator-background-color;
      border: 1px solid @active-border-color;
    }
    &--correct {
      background-color: @correct-indicator-background-color;
      border: 1px solid @correct-border-color;
    }
    &--error {
      background-color: @error-indicator-background-color;
      border: 1px solid @error-border-color;
    }
  }
  &__Handler {
    position: absolute;
    width: @handler-width;
    height: @handler-height;
    top: -1px;
    left: -1px;
    cursor: pointer;
    outline: 0 none;
    line-height: @handler-height - 2;
    font-size: 18px;
    background-color: @default-background-color;
    border: 1px solid @default-border-color;
    transition: all @ease-out @animation-duration-base;

    &:hover {
      background-color: @active-background-color;
      border: 1px solid @active-border-color;
      color: #fff;
    }

    &--dragging, &--pending {
      background-color: @active-background-color;
      border: 1px solid @active-border-color;
      color: #fff;
    }

    &--correct {
      background-color: @correct-background-color;
      border: 1px solid @correct-border-color;
      color: #fff;
    }
    &--error {
      background-color: @error-background-color;
      border: 1px solid @error-border-color;
      color: #fff;
    }
  }
  &__Info {
    line-height: @track-height - 2;
    color: #9ca1ab;
    &--hide {
      display: none;
    }
  }
}
