/**
 * HomeUpdate Style
 * @author ggm
 * @date 2018/10/26 下午1:18:24
 */
 @import '../../theme/default/variable.less';
.HomeUpdate {
  // write your style here
  max-height: 100%;
  overflow: auto;
  &__li{
    min-width: 500px;
    max-width: 60%;
    margin:0 auto;
    list-style: none;
  }
  &__version{
    position: relative;
    margin-top:-15px;
    width:120px;
    text-align: right;
    float:left;
    color:#333;
    & p{
      margin-bottom: 0;
    }
    & p:first-child{
      font-size:1.5em;
    }
  }
  & &__card{
    position: relative;
    margin-left:130px;
    border: none;
    border-left: 1px solid #e8e8e8;
    &:before{
      position: absolute;
      left:-7px;
      top:-7px;
      width:14px;
      height:14px;
      background-color: #fff;
      border:5px solid @primary-color;
      border-radius: 50%;
      content:'';
    }
    h3{
      font-weight: bold;
      font-size: 14px;
      color: #1E283C;
    }
    p{
      margin-bottom: 0.2em;
      color: #6E7382;
    }
  }
}
