/**
 * FixpathList Style
 * @author ryan bian
 * @date 2018-9-14 16:12:09
 */
 @import '../../theme/default/variable.less';

.FixpathList {
  position: relative;

  &__Form {
    padding-bottom: @padding-md;
    margin-bottom: 15px !important;

    &Action {
      margin-right: 0 !important;
      button {
        &:first-child {
          margin-right: 4px;
        }
      }
    }
  }
  .__RightAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
