@height: 2.983rem;

.divBigScreen {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .divLogo {
    @logow: 1.51rem;
    @logoh: 0.29rem;
    position: absolute;
    background: url(../img/logo_1.svg) no-repeat;
    background-size: @logow @logoh;
    width: @logow;
    height: @logoh;
    top: 0.32rem;
    left: 0.3rem;
    z-index: 100;
  }

  .divMap {
    width: 100vw;
    height: 100vh;
  }
  .divBottomContainer {
    position: absolute;
    bottom: 0.2rem;
    width: 100%;
    height: 30%;
  }

  .btnFullScreen,
  .btnFullScreenEx {
    z-index: 100;
    position: absolute;
    width: 31px;
    height: 31px;
    background-image: url(../img/full-screen_1.svg);
    background-repeat: no-repeat;
    background-size: 31px 31px;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
  .btnFullScreenEx {
    background-image: url(../img/full-screen-ex_1.svg);
  }

  .btnFullScreen:hover,
  .btnFullScreenEx:hover {
    background-image: url(../img/full-screen-over_1.svg);
  }
  .btnFullScreenEx:hover {
    background-image: url(../img/full-screen-ex-over_1.svg);
  }

  .carsInfoList {
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 68%;
    display: none;
    z-index: 120;
    background-color: rgba(11, 77, 139, 0.98);
    // position: relative;
  }

  .divTheme {
    position: absolute;
    right: 140px;
    top: 10px;
    .divThemeBtn1,
    .divThemeBtn2 {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      display: inline-block;
      border: solid 1px #55c2ff;
      cursor: pointer;
    }
    .divThemeBtn1 {
      background: #003f73;
      margin-right: 10px;
    }
    .divThemeBtn2 {
      background: #f5f3f0;
      width: 20px;
      height: 20px;
    }
  }
}

:global(.bstc__theme2) {
  .divLogo {
    background-image: url(../img/logo_2.svg);
  }
}
