/**
 * VehicleOrder Style
 * @author lhf
 * @date 2018-9-11 16:31:42
 */
.VehicleOrder {
  color: #ccc;
  /*顶部card*/
  .TopCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    .CardSingle{
      flex-grow: 1;
      text-align: center;
      &_label{
        color: #6E7382;
        font-size: 14px;
        line-height: 1em;
      }
      &_value{
        color: #1E283C;
        font-size: 18px;
        margin-top: 10px;
        line-height: 1em;
      }
    }
  }
  .SelectBar{
    margin-top: 6px;
    color: #333;
    :global {
      .ant-form-item{
        display: flex;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
      }
    }
  }
  :global{
    .ant-card-body{
      padding: 16px;
    }
  }
}
