/**
 * ErrorBoundary Style
 * @author ryan bian
 * @date 2018-9-30 15:44:06
 */
 .ErrorBoundary {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;

  &__Figure {
    width: 50%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__Content {
    width: 50%;

    button {
      margin-top: 20px;
    }
  }

  &__Title {
    font-size: 40px;
  }

  &__Explain {
    font-size: 24px;
  }

  &__ErrorDetail, &__ErrorStack {
    padding: 8px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 7px 1px #f0f0f0 inset;
    white-space: pre-wrap;
  }
  &__ErrorStack {
    margin-top: 20px;
  }
}
