
 @page-container-top: 228px;

.AddressMap {
  position: relative;
  &__Checkbox{
    z-index: 999;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 15px;
  }
  &__Box {
    height: calc(100vh - @page-container-top) !important;
    z-index: 1;
  }
}
