/**
 * AddressManage Style
 * @author hefan
 * @date 2018/9/17 上午9:10:13
 */
.AddressManage {
  // write your style here
}
.AddressManageTitle{
  padding: 5px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-top: 1px solid #e4e7ef;
  border-left: 1px solid #e4e7ef;
  border-right: 1px solid #e4e7ef;
  .AddressManageTitleTxt{
    color: #1E283C;
  }
}
