@import '../../config/anim.less';

// 控制容器
.controls {
  box-sizing: border-box;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1000;
}

.controlButton {
  box-sizing: border-box;
  margin: 7px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.controlButton:hover {
  transform: scale(1.1) !important;
}
.controlButton:active {
  transform: scale(1) !important;
}

// 旋转按钮
.rotateLeft {
  cursor: pointer;
  // composes: controlButton;
  margin: 7px 5px;
  width: 24px;
  height: 28px;
  // background-color: #fff;
}
.rotateRight {
  cursor: pointer;
  // composes: controlButton;
  margin: 7px 5px;
  width: 24px;
  height: 28px;
  // background-color: #fff;
}

// 放大按钮
.zoomButton {
  box-sizing: border-box;
  margin: 7px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

// 关闭按钮
.closeButton {
  width: 24px;
  height: 28px;
  margin: 7px 5px;
  position: relative;
  cursor: pointer;
  .crossLine {
    position: absolute;
    top: 12px;
    left: 0;
    width: 24px;
    height: 2.5px;
    background-color: #000;
    transform-origin: 50%;
  }
}

// 页数指示
.pages {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 110;
  transform: translateX(-50%);

  .blackDot {
    cursor: pointer;
    margin: 10px 4px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: black;
  }
  .whiteDot {
    cursor: pointer;
    margin: 10px 4px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #999;
  }
}
