/**
 * TextArea Style
 * @author djd
 * @date 2018/9/14 上午10:10:00
 */
.TextArea {
  // write your style here

  position: relative;

  .wordsInfo {
    position: absolute;
    right: 8px;
    bottom: 8px;
    line-height: 1.5;
  }
}
