/**
 * CarModelCarLong Style
 * @author ggm
 * @date 2018/9/17 上午10:06:10
 */
 @import '../../theme/default/variable.less';
 .CarModelCarLong {
  // write your style here
  position: relative;
  margin-bottom:5px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;

  & &__pl15{
    padding-left:15px;
  }
  & &__card{
    padding: 0 @padding-sm;
  }
  & &__row{
    line-height:1.4em;
  }
  & &__row&__rowOverHiden{
    max-height: 25px;
    overflow: hidden;
  }
  & &__section{
    min-height: 28px;
    width:100%;
    line-height:26px;
    min-width:320px;
    padding:0 4px;
    box-sizing: border-box;
    z-index: 1;
    transition: height @animation-duration-base @ease-in-out;
  }
  & &__input{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height:auto;

  }
  & &__MultipeBox{
    position: absolute;
    left:0;
    right:0;
    width:100%;
    top:100%;
    max-height:300px;
    padding-bottom:@padding-xs;
    background-color:#fff;
    border:1px solid @border-color-base;
    border-radius: @border-radius-base;
    border-top:none;
    overflow: auto;
    z-index: 1;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: opacity @animation-duration-base @ease-in-out,transform @animation-duration-base @ease-in-out;
    &:hover{
      opacity: 1;
      transform: scaleY(1);
      transition: opacity @animation-duration-base @ease-in-out,transform @animation-duration-base @ease-in-out;
    }
  }
  & &__MultipeBox&__MultipeBox_nohover{
    &:hover{
      opacity: 0;
      transform: scaleY(0);
      transition: opacity @animation-duration-base @ease-in-out,transform @animation-duration-base @ease-in-out;
    }
  }
  & &__MultipeBox&__MultipeBox_show{
    opacity: 1;
    transform: scaleY(1);
    transition: opacity @animation-duration-base @ease-in-out,transform @animation-duration-base @ease-in-out;
  }
  & &__Tag{
    position: relative;
    vertical-align: baseline;
  }
  & &__checkableTag{
    margin-top:3px;
    line-height:22px;
    min-width:100px;
    text-align: center;
    vertical-align: middle;
  }
  & &__disabled{
    background-color: @disabled-color;
  }

  .inputArrow{
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 12px;
    color: #aaa;
  }
}
