.Index {
  // color: #f60;
}

.Index__Header_Bar {
  padding-top: 24px;
  width: 1200px;
  margin: 0 auto;
  height: 60px;
}
.Index__Header_Bar a i {
  display: inline-block;
  background: url(../module.index/images/top-logo.png);
  width: 161px;
  height: 34px;
  line-height: 32px;
}
.Index__Header_Login {
  text-align: center;
  color: #fff;
  width: 70px;
  height: 32px;
  line-height: 32px;
  border: 1px solid rgba(255, 255, 255, 1);
  float: right;
}
.Index__Header_Login a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
.Index__Header_Login a:hover {
  background: #fff;
  color: #1e6dff;
}
.Index__Content {
  min-width: 1200px;
  width: 100%;
}
.Index__Top {
  min-width: 1200px;
  width: 100%;
  position: relative;
}
.Index__Header {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    184deg,
    rgba(8, 25, 180, 0.9) 0%,
    rgba(19, 9, 139, 0.84) 44%,
    rgba(1, 0, 65, 0.91) 100%
  );
  // opacity: 0.9354;
}
.Index__RightBar {
  z-index: 999;
  width: 70px;
  height: 160px;
  position: fixed;
  bottom: 30%;
  right: 0;
}
.Index__RightBarItem {
  width: 70px;
  margin-bottom: 12px;
  height: 70px;
  border-top: solid 1px #dcdcdc;
  border-left: solid 1px #dcdcdc;
  font-size: 16px;
  color: rgba(244, 244, 245, 1);
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 16px;
  background: rgba(8, 20, 58, 0.8);
  border: 1px solid rgba(62, 57, 142, 1);
  position: relative;
}
.Index__RightBarItem:hover {
  color: #1e6dff;
  background: #141536;
}
.Index__RightBarItem::after {
  display: block;
  opacity: 0;
  content: '';
  position: absolute;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(0rem);
  -ms-transform: translateX(0rem);
  -moz-transform: translateX(0rem);
  -webkit-transform: translateX(0rem);
  -o-transform: translateX(0rem);
}
.Index__RightBarItem:nth-child(1)::after {
  left: -215px;
  top: -46px;
  width: 0;
  height: 165px;
  background: url(../module.index/images/floating-phone.png) no-repeat;
}
.Index__RightBarItem:nth-child(1):hover::after {
  width: 245px;
  opacity: 1;
  transform: translateX(-3.22rem);
  -ms-transform: translateX(-3.22rem);
  -moz-transform: translateX(-3.22rem);
  -webkit-transform: translateX(-3.22rem);
  -o-transform: translateX(-3.22rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
  // border: 1px solid transparent;
}

.Index__RightBarItem:nth-child(2)::after {
  left: -215px;
  top: -86px;
  width: 0;
  height: 245px;
  background: url(../module.index/images/floating-window-QRcode.png) no-repeat;
}
.Index__RightBarItem:nth-child(2):hover::after {
  width: 245px;
  opacity: 1;
  transform: translateX(-3.22rem);
  -ms-transform: translateX(-3.22rem);
  -moz-transform: translateX(-3.22rem);
  -webkit-transform: translateX(-3.22rem);
  -o-transform: translateX(-3.22rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
  // border: 1px solid transparent;
}

.Index__Top_Slogan {
  background: url(../module.index/images/top-slogan.png) no-repeat;
  background-size: 894px 408px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -447px;
  margin-top: -204px;
  transition: transform 0.5s ease-out 0s;
  min-width: 894px;
  max-width: 1200px;
  height: 408px;
}
@media (min-width: 1600px) {
  .Index__Top_Slogan {
    min-width: 1100px;
    margin-left: -550px;
    height: 502px;
    margin-top: -251px;
    background-size: 1100px 502px;
  }
}
.Index__Top_SloganTop {
  transform: translate(0px, -15px);
}
.Index__Top_SloganBottom {
  transform: translate(0px, 15px);
}
.Index__Top_SloganLeft {
  transform: translate(-15px, 0px);
}
.Index__Top_SloganRight {
  transform: translate(15px, 0px);
}
.Index__Top_Next {
  position: absolute;
  z-index: 999;
  left: 50%;
  bottom: 39px;
  margin-left: -35px;
  -webkit-animation: a 0.5s infinite linear alternate;
  animation: a 0.5s infinite linear alternate;
  i {
    display: block;
    width: 70px;
    height: 57px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url(../module.index/images/next.png) no-repeat bottom;
    background-size: 30px 17px;
  }
}
@-webkit-keyframes a {
  0% {
    bottom: 39px;
    opacity: 0.3;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes a {
  0% {
    bottom: 39px;
    opacity: 0.3;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}
.Index__Video {
  width: 100%;
}
.Index__First {
  padding-top: 80px;
  margin: 0 auto;
  background: url(../module.index/images/product-feature-bg.jpg) no-repeat right;
  padding-bottom: 68px;
}
.Index__First h2 {
  width: 288px;
  height: 40px;
  margin: 0 auto 80px auto;
  background: url(../module.index/images/feature.png);
}
.Index__First_Box {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Index__First_Box .Index__First_P {
  position: relative;
  padding: 45px 28px;
  width: 370px;
  height: 170px;
  margin: 15px;
  box-shadow: 5px 5px 5px #f1f1f1;
}

.Index__First_Box .Index__First_P:nth-child(1) {
  background: #fff url(../module.index/images/order-management-1.jpg) no-repeat
    center right;
}
.Index__First_Box .Index__First_P:nth-child(2) {
  background: #fff url(../module.index/images/Intelligent-stowage-2.jpg)
    no-repeat center right;
}
.Index__First_Box .Index__First_P:nth-child(3) {
  background: #fff url(../module.index/images/efficient-scheduling-3.jpg)
    no-repeat center right;
}
.Index__First_Box .Index__First_P:nth-child(4) {
  background: #fff url(../module.index/images/Intransit-monitoring-4.jpg)
    no-repeat center right;
}
.Index__First_Box .Index__First_P:nth-child(5) {
  background: #fff url(../module.index/images/financial-figures-5.jpg) no-repeat
    center right;
}
.Index__First_Box .Index__First_P:nth-child(6) {
  background: #fff url(../module.index/images/valueadded-services-6.jpg)
    no-repeat center right;
}
.Index__Img {
  padding: 0;
  z-index: 10;
  margin-bottom: 75px;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.Index__ImgBox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.Index__Img1 {
  background: url(../module.index/images/1.jpg) no-repeat;
  background-size: 50px auto;
  background-position: 0px 0px;
}
.Index__Img2 {
  background: url(../module.index/images/2.jpg) no-repeat;
  background-size: 50px auto;
  background-position: 0px 0px;
}
.Index__Img3 {
  background: url(../module.index/images/3.jpg) no-repeat;
  background-size: 50px auto;
  background-position: 0px 0px;
}
.Index__Img4 {
  background: url(../module.index/images/4.jpg) no-repeat;
  background-size: 50px auto;
  background-position: 0px 0px;
}
.Index__Img5 {
  background: url(../module.index/images/5.jpg) no-repeat;
  background-size: 50px auto;
  background-position: 0px 0px;
}
.Index__Img6 {
  background: url(../module.index/images/6.jpg) no-repeat;
  background-size: 50px auto;
  background-position: 0px 0px;
}
.Index__First_Box .Index__First_P h3 {
  margin-left: 60px;
  height: 24px;
  font-size: 24px;
  font-weight: 600;
  color: rgba(30, 40, 60, 1);
  line-height: 24px;
}
.Index__First_Box .Index__First_P h4 {
  margin-left: 60px;
  color: #6e7382;
  font-size: 14px;
}
.Index__Second {
  padding-top: 80px;
  margin: 0 auto;
}
.Index__Second h2 {
  width: 288px;
  height: 40px;
  margin: 0 auto 80px auto;
  background: url(../module.index/images/advantage.png);
}
.Index__Floor {
  color: #fff;
  min-height: 650px;
  max-height: 650px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  overflow-x: hidden;
}
.Index__Floor1 {
  background-image: url(../module.index/images/experience-output-bg-1.jpg);
}

.Index__Floor2 {
  background-image: url(../module.index/images/simple-landing-bg-2.jpg);
}
.Index__Floor3 {
  background-image: url(../module.index/images/smart-system-bg-3.jpg);
}
.Index__Floor4 {
  background-image: url(../module.index/images/promote-drainage-bg-4.jpg);
}
.Index__Floor5 {
  background-image: url(../module.index/images/funding-channel-bg-5.jpg);
}
.Index__Floor6 {
  background-image: url(../module.index/images/good-service-bg-6.jpg);
}
.Index__Floor_bg {
  width: 100%;
  height: 100%;
  min-height: 650px;
  max-height: 650px;
}
.Index__Floor1 .Index__Floor_bg {
  background: linear-gradient(
    214deg,
    rgba(13, 28, 126, 0.26) 0%,
    rgba(49, 82, 198, 1) 100%
  );
}
.Index__Floor2 .Index__Floor_bg {
  background: linear-gradient(
    134deg,
    rgba(13, 42, 126, 0.26) 0%,
    rgba(55, 217, 222, 1) 100%
  );
}
.Index__Floor3 .Index__Floor_bg {
  background: linear-gradient(
    218deg,
    rgba(13, 28, 126, 0.26) 0%,
    rgba(105, 65, 218, 1) 100%
  );
}
.Index__Floor4 .Index__Floor_bg {
  background: linear-gradient(
    133deg,
    rgba(13, 31, 126, 0.26) 0%,
    rgba(49, 82, 198, 1) 100%
  );
}
.Index__Floor5 .Index__Floor_bg {
  background: linear-gradient(
    220deg,
    rgba(13, 28, 126, 0.26) 0%,
    rgba(55, 217, 222, 1) 100%
  );
}
.Index__Floor6 .Index__Floor_bg {
  background: linear-gradient(
    131deg,
    rgba(13, 28, 126, 0.26) 0%,
    rgba(105, 65, 218, 1) 100%
  );
}

.Index__Floor_bg h5 {
  position: relative;
  color: #fff;
  font-size: 56px;
  white-space: nowrap;
  font-weight: normal;
  // width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-top: 160px;
  z-index: 2;
}
.Index__Floor_bg h5:after {
  display: block;
  position: absolute;
  top: 260px;
  content: '';
  width: 33px;
  height: 4px;
  background-color: #fff;
}
// .Index__Floor_bg p {
//   width: 1200px;
//   margin: 0 auto;
//   font-size: 20px;
//   font-weight: 400;
// }
.Index__Floor_Text {
  width: 1200px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}
.Index__Floor:nth-of-type(even) .Index__Floor_bg .Index__Floor_Text {
  padding-left: 600px;
}
.Index footer {
  min-width: 1200px;
  height: 350px;
  background: #1d1f2b;
  background: url(../module.index/images/bottom-bg.jpg) center center;
  p {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: rgba(110, 115, 130, 1);
  }
}

.Index__Footer {
  padding-top: 97px;
  padding-bottom: 80px;
  width: 840px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Index__FooterL {
  width: 110px;
  height: 137px;
  background: url(../module.index/images/bottom-QRcode.png) no-repeat;
}
.Index__FooterR {
  // padding-top: 40px;
}
.Index__FooterR1 {
  position: relative;
  width: 305px;
  height: 52px;
  background: url(../module.index/images/bottom-business-negotiations-1.png)
    no-repeat;
  margin-bottom: 27px;
}
.Index__FooterR1::after {
  position: absolute;
  content: '';
  display: block;
  top: 13px;
  left: 65px;
  width: 20px;
  height: 26px;
  background: url(../module.index/images/bottom-phone.png);
  transition: all 0.2s;
}
.Index__FooterR1:hover::after {
  top: 2px;
  animation: myfirst 0.8s infinite;
}

.Index__FooterR2 {
  position: relative;
  width: 305px;
  height: 52px;
  background: url(../module.index/images/bottom-service-hotline-2.png) no-repeat;
}
.Index__FooterR2::after {
  position: absolute;
  content: '';
  display: block;
  top: 13px;
  left: 65px;
  width: 20px;
  height: 26px;
  background: url(../module.index/images/bottom-phone.png);
  transition: all 0.6s;
}
.Index__FooterR2:hover::after {
  top: 2px;
  animation: myfirst 0.8s infinite;
}
@keyframes myfirst {
  0% {
    top: 13px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 13px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    width: 100%;
    min-width: 100%;
  }
  .Index__Top {
    min-width: auto;
    width: auto;
  }
  .Index__Header_Bar {
    width: 100%;
    padding: 20px;
  }
  .Index__Top_Slogan {
    width: 80%;
    height: 50%;
    min-width: 80%;
    left: 10%;
    top: 60px;
    right: 0;
    margin-left: 0;
    margin-top: 0;
    background-position: center center;
    background-size: contain;
  }
  .Index__Content {
    min-width: 100%;
  }
  .Index__First{
    padding-bottom: 20px;
  }
  .Index__First_Box {
    width: 100%;
  }
  .Index__First_Box .Index__First_P {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .Index footer {
    min-width: 100%;
    p {
      width: 100%;
    }
  }
  .Index__Footer{
    padding: 97px 10px 70px 10px;
    width: 100%;
  }
  .Index__Floor_bg h5 {
    margin-bottom: 20px;
  }
  .Index__FooterL{
    width: 30%;
    margin-bottom: 10px;
    background-position: center center;
  }
  .Index__FooterR{
    width: 60%;
  }
  .Index__Floor_Text {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .Index__Floor:nth-of-type(even) .Index__Floor_bg .Index__Floor_Text {
    padding-left: 40%;
  }
  .Index__FooterR1{
    width: 100%;
    background: url(../module.index/images/bottom-business-negotiations-1_phone.png)
    no-repeat top center;
    background-size: 100%;
    margin-bottom: 10px;
  }
  .Index__FooterR1::after{
    display:none;
  }
  .Index__FooterR2{
    width: 100%;
    background: url(../module.index/images/bottom-service-hotline-2_phone.png) no-repeat;
    background-position: top center;
    background-size: 100%;
  }
  .Index__FooterR2::after{
    display:none;
  }
  .index-module__Index__Floor:nth-of-type(even)
    .index-module__Index__Floor_bg
    .index-module__Index__Floor_Text {
    padding-left: 0;
    float: right;
  }
}
@media screen and (max-width: 768px){
  .Index__Header_Bar a i{
    width: 110px;
    height: 25px;
    background-size: contain;
    // background-position: center center;
    background-repeat: no-repeat;
  }
  .Index__Header_Login{
    height: 25px;
    line-height: 25px;
    width: 50px;
  }
  .Index__First{
    padding-top: 40px;
  }
  .Index__First h2{
    height: 30px;
    width: 216px;
    background-size: cover;
    margin: 0 auto 40px auto;
  }
  .Index__Second{
    padding-top: 40px;
  }
  .Index__Second h2{
    height: 30px;
    width: 216px;
    background-size: cover;
    margin: 0 auto 40px auto;
  }
  .Index__Floor{
    text-align: center;
    min-height: 235px;
    height: 235px;
  }
  .Index__Floor_bg{
    height: 235px;
    min-height: 235px;
  }
  .Index__Floor_bg h5:after {
    display: none;
  }
  .Index__Floor_bg h5{
    padding-top: 60px;
    font-size: 28px;
  }
  .Index__Floor_bg p{
    font-size: 16px;
    padding: 0 10px;
  }
  .Index__Floor_Text {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .Index__Floor:nth-of-type(even) .Index__Floor_bg .Index__Floor_Text {
    padding-left: 0;
  }

  .Index__First_Box .Index__First_P {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px 20px;
  }
  .Index__Top_Slogan {
    width: 50%;
    top: 40%;
  }
  .Index__Top_Next{
    i{
      display: none;
    }
  }
  .Index__Footer{
    padding-top: 120px;
  }
  .Index__FooterL{
    width: 80px;
    height: 100px;
    background-size: cover;
  }
  .Index__FooterR1{
    margin-bottom: 0;
  }
}
