@import '../../theme/default/variable.less';

@layout-color: #414454;
@header-height: 56px;
@side-bottom-height: 72px;
@menu-width: 150px;

.App {

  height: 100vh;

  &__Content {
    height: calc(100vh - @header-height);
  }

  &__Sider {
    box-shadow: @shadow-1-right;
    &Toggle {
      position: absolute;
      right: 0;
      bottom: 60px;
      display: flex!important;
      width: 24px;
      height: 24px;
      transform: translateX(100%);
      background-color: rgba(0, 0, 0, 0.3);
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: @zindex-back-top;
      transition: background-color ease-in-out 0.3s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    &Bottom {
      display: flex;
      height: @side-bottom-height;
      text-align: center;
      color: #a1bad1;
      font-size: 12px;
      flex-direction: column;
      justify-content: center;

      &--hide {
        display: none;
      }

      p {
        margin: 0;
      }
    }

    :global {
      .ant-menu-inline-collapsed {
        width: 43px;
      }
      .ant-menu > .ant-menu-item {
        padding-left: 36px !important;
      }
      .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title,
      .ant-menu-submenu .ant-menu-submenu-title,
      .ant-menu-root > .ant-menu-item {
        padding-left: 12px !important;
        padding-right: 12px !important;
      }

    }
  }

  &__Menu {
    width: @menu-width;
    height: calc(100vh - @header-height - @side-bottom-height);
    overflow: hidden;
    font-weight: 500;

    :global {
      .ant-menu-inline .ant-menu-item {
        margin-top: 0;
      }
      .ant-menu-vertical .ant-menu-item,
      .ant-menu-inline .ant-menu-item,
      .ant-menu-vertical .ant-menu-submenu-title,
      .ant-menu-inline .ant-menu-submenu-title {
        font-size: 12.5px;
      }
    }



    &Controller {
      position: absolute;
      right: 0;
      top: 50%;
      display: flex;
      flex-direction: column;
      color: #fff;
      transform: translateX(0) scale(0.2);
      z-index: -1;
      opacity: 0;
      transition: all @ease-in-quint @animation-duration-base;

      &--visible {
        transform: translateX(100%) scale(1);
        z-index: @zindex-back-top;
        opacity: 1;
      }


      &--up, &--down {
        display: flex!important;
        margin: 4px;
        width: 28px;
        height: 28px;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.2);
        transition: background-color ease-in-out 0.3s;
        border-radius: 14px;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  &__TabControl {
    background: none;
    border: 0 none;
    cursor: pointer;
    outline: 0 none;
    line-height: inherit;
    padding: 0;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    transition: background-color @ease-in-out @animation-duration-base;
    transform: rotate(90deg);
    &:hover {
      background-color: @background-color-light;
    }
  }

  &__TabContextMenu {
    position: absolute;
    outline: 0 none;
  }
}

.Header {
  display: flex;
  height: @header-height;
  align-items: center;
  background-color: @layout-color;
  color: #fff;
  font-size: 14px;
  flex-shrink: 0;

  h1 {
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__BrandLogo {
    width: @menu-width;
    margin-bottom: 0;
    margin-right: @padding-sm;
    height: @header-height;
    justify-content: center;
    align-items: center;
  }

  &__Outdate {
    padding-left: @padding-md;
    em {
      font-style: normal;
      font-weight: 500;
    }
    &--Warning {
      color: @warning-color;
    }
    &--Error {
      color: @error-color;
    }
    &--Success {
      color: @success-color;
    }
  }

  &__Greeting {
    flex: 1 0 auto;
    margin-left: 20px;
  }

  &__Jumper {
    flex: 0 0 auto;
    .Header__InstanceEntrance {
      margin-right: @padding-sm;
      border-color: rgba(255, 255, 255, 0.3);
    }
  }

  &__Account {
    display: flex;
    padding: 0 @padding-md;
    height: @header-height;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);

    &--name {
      margin: 0 4px;
      white-space: nowrap;
    }
  }
}

.Page {
  &__Container {
    position: relative;
    padding: @padding-sm;
    height: calc(100vh - 98px);
    overflow: auto;
  }
}

.NoPermission {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__Logo {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: @layout-color;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
  }

  h5 {
    font-size: 14px;
    color: #1E283C;
  }
  h6 {
    font-size: 14px;
    font-weight: 400;
    color: #6E7382;
  }
}

.ResetPassword {
  &__Form {
    margin-top: 20px!important;
  }
}

.InvalidPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__Content {
    margin-bottom: 12px;
    font-size: 14px;
    color: #9ba0aa;
  }

}
