@import '../../theme/default/variable.less';
@layout-color: #414454;

.tms-tab {
  &-bar {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 2px solid @layout-color;

    .ant-tabs-extra-content {
      float: none!important;
      padding-top: @padding-sm;
      width: 32px;
      line-height: inherit;
      display: flex;
      justify-content: center;
    }
  }
  &-bar, &-nav-container {
    position: relative;
    transition: padding .45s;
    white-space: nowrap;
    outline: 0 none;
  }
  &-nav-container {
    padding-top: @padding-sm;
    width: calc(100% - 32px);
  }

  &-tab-prev, &-tab-next {
    user-select: none;
    z-index: 1;
    line-height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    margin-right: -2px;
    width: 0;
    height: 0;
    top: 0;
    text-align: center;
    opacity: 0;
    transition: width .3s, height .3s, opacity .3s;

    &-icon {
      position: relative;
      display: inline-block;
      line-height: inherit;
      vertical-align: baseline;
      text-align: center;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0;
    }
  }

  &-tab-btn-disabled {
    cursor: default;
    color: @disabled-color;
  }

  &-nav-wrap {
    padding: 0 @padding-sm;
    width: 100%;
    overflow: hidden;
  }

  &-nav {
    box-sizing: border-box;
    padding-left: 0;
    position: relative;
    margin: 0;
    list-style: none;
    display: inline-block;
    transform-origin: 0 0;
    transition: transform @animation-duration-slow @ease-in-out;

    > div {
      display: flex;
    }
  }

  &-tab {
    position: relative;
    margin-right: 2px;
    height: 28px;
    line-height: 27px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid @border-color-base;
    border-bottom: 0 none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    user-select: none;

    &-active {
      color: #fff;
      cursor: default;
      background-color: @layout-color;
      border-color: @layout-color;

      i.ant-tabs-close-x {
        color: rgba(255, 255, 255, 0.45);
        &:hover {
          color: rgba(255, 255, 255, 0.85);
        }
      }
    }

    > div {
      padding: 0 18px 0 4px;
    }

    .anticon-sync {
      position: relative;
      top: -1px;
      margin-right: 2px;
      height: 14px;
      font-size: 12px;
      opacity: 0;
      transition: opacity .3s;
      cursor: pointer;
    }

    &:hover {
      .anticon-sync {
        opacity: 1;
      }
    }

    .ant-tabs-tab-unclosable {
      padding: 0 18px 0 4px;
    }

    .ant-tabs-close-x {
      position: absolute;
      right: 2px;
      top: 0;
      transform: translateY(50%) scale(0.9);
      color: rgba(0, 0, 0, 0.15);
      transition: color .3s;
      width: 14px;
      height: 16px;
      font-size: 10px;
      cursor: pointer;
      &:hover {
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }

  &-tab-disabled {
    cursor: default;
    color: @disabled-color;
    &:hover {
      color: @disabled-color;
    }
  }

  &-content {
    width: 100%;

    .tms-tab-tabpane {
      overflow: auto;
    }
  }

  &-tabpane-inactive {
    height: 0;
    overflow: visible;
  }

  .no-csstransitions &-tabpane-inactive,
  .no-flexbox &-tabpane-inactive,
  &-content-no-animated &-tabpane-inactive {
    display: none;
  }

  &-nav-container-scrolling {
    padding-left: 32px;
    padding-right: 32px;

    .tms-tab-nav-wrap {
      padding: 0;
    }
  }

  &-nav-scroll {
    width: 99999px;
  }

  &-nav-swipe {
    position: relative;
    left: 0;
    .tms-tab-nav {
      display: flex;
      flex: 1;
      width: 100%;
      .tms-tab-tab {
        display: flex;
        flex-shrink: 0;
        margin-right: 0;
        padding: 8px 0;
        justify-content: center;
      }
    }
  }

  &-content-animated {
    flex-direction: row;
    .tms-tab-tabpane {
      width: 100%;
    }
  }

  &-tab-next {
    right: 2px;

    &-icon:before {
      content: ">";
    }
  }

  &-tab-prev {
    left: 0;
    &-icon:before {
      content: "<";
    }
  }

  &-tab-arrow-show {
    opacity: 1;
    margin-top: @padding-sm;
    width: 32px;
    height: 28px;
  }
}
