.toolBarLine {
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  width: 100%;
}

.locOrders {
  width: 100%;

  position: relative;
}

.groupAndOrder {
  position: absolute;
  z-index: 2;
  top: 54px;
  padding-left: 10px;
  height: 0;
}
