.mapToolBar {
  z-index: 2;
  display: flex;

  * {
    margin-left: 4px;
    &:first-child {
      margin-left: 0px;
    }
  }

  :global(.ant-btn) {
    height: 28px;
    padding: 0 11px;
  }

  .area1 {
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 6px;
    height: 40px;
  }
  .area2 {
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 6px;
    height: 40px;

    :global(.ant-btn) {
      padding: 0 2px;
    }
  }
}
.tbpic {
  background-size: 15px 15px;
  width: 18px;
  height: 15px;
  position: relative;
  top: 5px;
  display: inline-block;
}
.tbpic1 {
  background: url(../mapToolsBar/img/tbpic1.png) center center no-repeat;
  .tbpic;
}
.tbpic2 {
  background: url(../mapToolsBar/img/tbpic2.png) center center no-repeat;
  .tbpic;
}
.count {
  width: 95px;
  text-align: right;
  font-size: 12px;
  line-height: 21px;
  padding-right: 8px;
}
.linkBtn {
  cursor: pointer;
  line-height: 21px;
  padding-right: 5px;
}
.linkBtnIcon {
  font-size: 12px;
  margin-left: 5px !important;
}
