.ant-tree-node-content-wrapper {
  width: 100%;
}
.company-tree.ant-tree li {
  span.ant-tree-switcher {
    display: none;
  }
}
.ant-tree-title {
  color: #333;
}
.company-tree .ant-tree-title > span{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 125px;
  float: left;
}
