/**
 * SiderCompanyTree Style
 * @author HuangSiFei
 * @date 2018-9-20 09:42:01
 */
@import '../../theme/default/variable.less';
.icon_caret {
  font-size: 12px;
  height: 10px;
  &_up__first {
    position: absolute;
    color: @primary-3;
    margin-top: -4px;
  }
  &_up__other {
    position: absolute;
    color: @primary-color;
    margin-top: -4px;
  }
  &_down__last {
    color: @primary-3;
    z-index: 1;
    position: relative;
  }
  &_down__other {
    color: @primary-color;
    z-index: 1;
    position: relative;
  }
}
.iconWarpper {
  float: right;
  margin-top: 4px;
}
.siderLeft {
  background: #fff;
}
.treeRoot{
  font-size: 14px;
}
.treeNode{
  font-size: 12px;
}
