/**
 * Customer Style
 * @author yanrong.tian
 * @date 2018-9-13 14:19:59
 */
.totalCard {
  padding:0 !important;
  margin-bottom: 10px !important;
 }
.totalCard .ant-card-body  *{
  padding-bottom: 0 !important;
}
.totalInfoCard{
  padding:0 !important;
  text-align: center;
}
.totalInfoCard p{
  color: #1E283C;
  font-size: 18px;
  margin: 0px;
  padding: 0;
  font-weight: normal;
}
.totalInfoCard h3{
  color: #6E7382;
  margin: 0px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}
