/**
 * StowageManage Style
 * @author hefan
 * @date 2018/9/11 上午9:05:16
 */
 @import '../../theme/default/variable.less';

.StowageManage {
  // write your style here
}

.StowageManageTitle{
  padding: 5px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-top: 1px solid #e4e7ef;
  border-left: 1px solid #e4e7ef;
  border-right: 1px solid #e4e7ef;
  .StowageManageTitleTxt{
    color: #1E283C;
  }
}
