.divInfoWindow {
  z-index: 100;
  position: absolute;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 2px;
  padding: 0px;

  .divf {
    background-color: #fff;
    z-index: 100;
    padding: 5px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    width: 270px;
    & table {
      // width: 100%;
      width: 270px;
      & th {
        max-width: 80px;
        line-height: 24px;
        font-size: 12px;
        color: #6e7382;
      }
      & td {
        width: 184px;
        max-width: 190px;
        color: #1e283c;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .curr {
    width: 20px;
    height: 20px;
    border: solid 1px #ccc;
    background-color: #fff;
    position: absolute;
    z-index: 99;
  }
}
