.mapContainer {
  width: 100%;
  height: 100%;
  min-height: 550px;

  position: relative;

  .mapBox {
    height: 100%;
    z-index: 1;
  }

  /**********司机标签start**************/
  .driverMarker{
    position: absolute;
    height: 33px;
    width: 75px;
    top:-33px;
    .driverMarkerMain{
      height:26px;
      width:80px;
      line-height: 26px;
      border-radius: 4px;
      cursor: pointer;
      background-color: #fff;
      // border: 1px solid #999;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        top: 25px;
        left: 35px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        clear: both;
      }
    }
    .driverMarkerMain span{
      color:#000;
      padding-left: 10px;
      line-height: 26px;
      float: left;
      font-weight: 400;
    }
  }
  .gaolan{
    .driverMarkerMain{
      content: '';
      width: 27px;
      height: 26px;
      display: inline-block;
      background:url('../map/img/gaolan.png') 5px 7px no-repeat;
      background-size: contain;
      float: left;
    }
  }
  .guache {
    .driverMarkerMain::before{
      content: '';
      width: 27px;
      height: 26px;
      display: inline-block;
      background:url('../map/img/guache.png') 5px 7px no-repeat;
      background-size: contain;
      float: left;
    }
  }
  .lanban {
    .driverMarkerMain::before{
      content: '';
      width: 27px;
      height: 26px;
      display: inline-block;
      background:url('../map/img/lanban.png') 5px 7px no-repeat;
      background-size: contain;
      float: left;
    }
  }
  .mianbao {
    .driverMarkerMain::before{
      content: '';
      width: 27px;
      height: 26px;
      display: inline-block;
      background:url('../map/img/mianbao.png') 5px 7px no-repeat;
      background-size: contain;
      float: left;
    }
  }
  .xiangshi {
    .driverMarkerMain::before{
      content: '';
      width: 27px;
      height: 26px;
      display: inline-block;
      background:url('../map/img/xiangshi.png') 5px 7px no-repeat;
      background-size: contain;
      float: left;
    }
  }

  .driverMarkerBig{
    height: 140px;
    width: 220px;
    top: -152px;
    left: -79px;
    z-index: 12;
    box-shadow: 1px 1px 10px #999;
    .driverMarkerMain{
      height: 140px;
      width: 220px;
      padding-top:5px;
      &::before{
        margin-left:5px;
      }
      &::after{
        top: 140px;
        left: 110px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
      }
    }
  }
  /**********司机标签end**************/
}


