/**
 * WaybillDetail Style
 * @author yw
 * @date 2018-9-11 08:58:58
 */
 .WaybillDetail {
  background: #f4f5fa;
  padding: 12px;
  .FormDetailField{
    div {
      &:nth-child(2) {
        color: #1E283C;
      }
    }
  }
}
