@base-color: #1890ff;
.Home {
  div {
    line-height: 1;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    line-height: 1;
    padding-bottom: 10px;
  }
  :global(.ant-card-grid) {
    box-shadow: none;
    width: 200px;
    border: none;
    color: #6e7382;
    padding: 20px 16px;
  }
  :global(.ant-card-extra) {
    padding: 15px 0;
  }
}
.sectionWrap {
  margin-bottom: 12px;
}

.CardGridStyle {
  cursor: pointer;
  &:hover {
    color: @base-color;
    span {
      color: @base-color;
    }
  }
}
.toDoValue {
  margin-left: 20px;
  color: #1e283c;
}
.situationCont {
  font-size: 12px;
  color: #6e7382;
  span {
    margin-left: 20px;
    color: #1e283c;
  }
  p {
    line-height: 1;
    margin-bottom: 16px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  :global(.ant-card-head-title) {
    padding: 15px 0;
  }
}
