.carsInfoList {
  color: #fff;


  .title {
    font-size: 14px;
    margin: 15px 0 0 20px;
  }
  .btn-close {
    background-image: url(../carsInfoList/img/cilclosed_1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.5s ease-in;
    &:hover {
      background-image: url(../carsInfoList/img/cilcloseda_1.svg);
      transform:rotate(360deg);
    }
  }
  .div-scroll {
    position: absolute;
    top: 38px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
    padding: 5px 20px;

    scrollbar-track-color: transparent;
    scrollbar-face-color: #ccc;
    scrollbar-base-color: transparent;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }

    .carsInfoItem {
      font-size: 12px;

      .localAddress {
      }
      .newSignal {
      }
      .carsInfoItemDetail {
        position: relative;
        background-color: rgba(85, 194, 255, 0.2);
        padding: 10px;
        margin-top: 5px;
        margin-left: -10px;
        margin-right: -10px;
        border-radius: 4px;
        .btnDetail {
          color: #55c2ff;
          float: right;
          right: 5px;
          top: 5px;
          margin-left: 10px;
          cursor: pointer;

          &::after {
            content: "";
            clear: both;
          }
        }
        .routeName {
          margin-bottom: 5px;
        }

        .driver {
          margin-bottom: 5px;
        }
        .plate {
          margin-bottom: 5px;
        }
        .carI {
          margin-bottom: 5px;
        }
      }
    }
    .splitLine {
      border-bottom: solid 2px rgba(85, 194, 255, 0.2);
      padding-left: 20px;
      padding-right: 20px;
      margin: 10px -10px;
    }
  }
}



.theme2 {
  .carsInfoList {
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 0 rgba(80,80,80,0.29);
    color: #4D4D4D;

    .btn-close {
      background-image: url(../carsInfoList/img/cilclosed_2.svg);
      &:hover {
        background-image: url(../carsInfoList/img/cilcloseda_2.svg);
      }
    }


    .div-scroll {

      .carsInfoItem {
        .carsInfoItemDetail {
          background-color: #f0f0f0;
          color: #3384FF;

          .btnDetail {
            color: #FF9D9D;
          }

        }
      }

      .splitLine {
        border-bottom: solid 2px #E0E0E0;
      }



    }




  }
}
