/**
 * PasswordStrength Style
 * @author ryan bian
 * @date 2018-10-15 10:42:13
 */
 @import '../../theme/default/variable.less';

.PasswordStrength {
  position: relative;
  height: 3px;
  background-color: #ddd;
  border-radius: 3px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: inherit;
    background: transparent;
    display: block;
    width: calc(20% + 5px);
    border-color: #fff;
    border-style: solid;
    border-width: 0 5px;
  }
  &::before {
    left: calc(20% - 3px);
  }
  &::after {
    right: calc(20% - 3px);
  }

  &--fill {
    width: 0;
    height: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;
    border-radius: inherit;

  &[data-score='0'] {
    background: @red-7;
    width: 20%;
  }
  &[data-score='1'] {
    background: @volcano-6;
    width: 40%;
  }
  &[data-score='2'] {
    background: @orange-6;
    width: 60%;
  }
  &[data-score='3'] {
    background: @lime-6;
    width: 80%;
  }
  &[data-score='4'] {
    background: @green-6;
    width: 100%;
  }
  }
}
