@w: 64px; // 车辆点包含外圈
@h: @w;

@wp: 22px; // 车辆点中心圆
@hp: @wp;

.bg-car {
  position: absolute;
  z-index: 101;
  width: @w;
  height: @h;
  background-repeat: no-repeat;
  background-size: @w @h;

  .bg-car-poing {
    width: @wp;
    height: @hp;
    position: absolute;
    cursor: pointer;
    left: (@w - @wp) / 2;
    top: (@h - @hp) / 2;
    background-size: @wp @hp;
    background-repeat: no-repeat;
  }

  .bg-car-poing-x {
    .bg-car-poing;
    background-image: url('../car/img/car-x.png');
  }
  .bg-car-poing-m {
    .bg-car-poing;
    background-image: url('../car/img/car-m.png');
  }

  .bg-car-info {
    border: solid 1px #00ccff;
    border-radius: 15px;
    background-color: #012d3a;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    text-overflow: ellipsis;
    width: 135px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 10px;
    cursor: pointer;

    .bg-car-info-btn {
      background: url(../car/img/car-info-bg-btn.svg) center center no-repeat;
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 3px;
      top: 2px;
    }
  }
}

.bg-car-x {
  .bg-car;
  background-image: url(../car/img/car-x-b1.gif);
}
.bg-car-m {
  .bg-car;
  background-image: url(../car/img/car-m-b1.gif);
}

:global(.bstc__theme2) {
  .bg-car {
    .bg-car-info {
      background-color: #000000;
      border: solid 1px rgba(0, 0, 0, 0.8);
      opacity: 0.8;
    }

    background: url(../car/img/car-x-b2.gif) no-repeat;
  }

  .bg-car-x {
    .bg-car;
    background-image: url(../car/img/car-x-b2.gif);
  }
  .bg-car-m {
    .bg-car;
    background-image: url(../car/img/car-m-b2.gif);
  }
}
