.divLeft {
  width: 38.3%;
  height: 100%;
  float: left;
  position: relative;
}

.title {
  color: #fff;
  position: absolute;
  width: 26%;
  top: 19%;
  left: 52%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 0.15rem;
}

.divUserOf7days {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 5%;
  left: 0%;
}


:global(.bstc__theme2) {
  .divLeft {
    .title {
      color: #3384ff;
    }
  }
}
