/**
 * AddressSelect Style
 * @author djd
 * @date 2018/9/12 下午3:16:13
 */
.btnLine {
  .info {
    color: #ccc;
  }
  .newBtn {
    margin-left: 10px;
  }
}

.addressOption{
  overflow: hidden;
  white-space: normal !important;
  > span{
    float: right;
    text-align: right;
    font-size: 12px;
    color:#999;
  }
}
