.companyLayout {
  background: #fff;
  .ant-card {
    height: 100%;
  }
  .ant-card-bordered {
    border-radius: 0;
  }
  .ant-card-head{
    min-height: 20px;
  }
  .ant-card-head-title{
    padding-bottom: 0;
  }
  .ant-card-extra{
    padding-top: 0;
  }
}
.companyCard .ant-card-head{
  border: none;
}
