
/**
 * StowageDetail Style
 * @author hefan
 * @date 2018/9/15 下午4:21:48
 */
 @import '../../theme/default/variable.less';

.StowageDetail {
  // write your style here
  .MapWrap{
    position: relative;
  }
  .locationed, .location{
    position: absolute;
    right: 10px;
    bottom: 65px;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
  }
  .locationed{
    background: @primary-color;
    color: @btn-primary-color;
  }
  .location{
    bottom: 30px;
    background: @normal-color;
    color: @btn-primary-color;
  }
}
