/**
 * StaffAuthorization Style
 * @author yanrong.tian
 * @date 2018-9-19 13:41:45
 */
.staffAuthorizationContent{
  height: ~"calc(100vh - 250px)" !important;
  position: relative;
}
.staffList{
  position: absolute !important;
  left:0;
  top:0;
  width:250px;
  height: 100% !important;
  overflow: auto;
  padding:0;
  border:none !important;
  border-right:1px solid #ddd !important;
}
.tableBox{
  margin-left:10px;
}
.tableBox div{
  border:none !important;
}
.content{
  margin-left:280px;
  height: ~"calc(100vh - 250px)" !important;
  overflow: auto;
}
.buttons{
  border-top:1px solid #ddd;
  padding:10px 20px;
  text-align: right;
}
.buttons button{
  margin-left:20px;
}
.foot{
  border-top:1px solid #ddd;
  padding:8px 20px;
  text-align: right;
  display: block;
}
