.LoadingIndicator {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &--failed {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
