/**
 * Login Style
 * @author ryan bian
 * @date 2018-9-6 08:49:25
 */
//  @count: 150;
@time: 2;

.Login {
  display: flex;
  // width: 100vw;
  height: 100vh;
  // background: linear-gradient(
  //     to bottom,
  //     hsla(218, 61%, 45%, 0) 50%,
  //     hsla(0, 0%, 0%, 1)
  //   ),
  //   url('//image.tf56.com/dfs/group1/M00/69/6B/CiFBClu67QuAO4BQAAGZyDaloT4929.png')
  //     no-repeat,
  //   url('//image.tf56.com/dfs/group1/M00/69/21/CiFBCVu4JiKAdkP_AAAUYfe0wIA375.png'),
  //   radial-gradient(hsla(218, 61%, 45%, 1) 20%, hsla(0, 0%, 0%, 1));
  // background-position: center top, center bottom, center center;
  align-items: center;
  justify-content: center;
  &__Bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(
      to bottom,
      hsla(218, 61%, 45%, 0) 50%,
      hsla(0, 0%, 0%, 1)
    ),
    url('//image.tf56.com/dfs/group1/M00/69/6B/CiFBClu67QuAO4BQAAGZyDaloT4929.png')
      no-repeat,
    url('//image.tf56.com/dfs/group1/M00/69/21/CiFBCVu4JiKAdkP_AAAUYfe0wIA375.png'),
    radial-gradient(hsla(218, 61%, 45%, 1) 20%, hsla(0, 0%, 0%, 1));
  background-position: center top, center bottom, center center;
    overflow: hidden;
  }
  &__Star {
    width: 100vw;
    height: 500px;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    transform-style: preserve-3d;
    perspective: 100px;
  }
  &__StarItem {
    background: white;
    position: absolute;
    top: 80%;
    left: 50%;
    opacity: 0;
    border-radius: 50%;
  }
  &__Content {
    // position: absolute;
    display: flex;
    width: 530px;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    :global {
      .ant-form-item {
        margin-bottom: 24px;
        .ant-input-suffix {
          visibility: hidden;
        }
        &:hover {
          .ant-input-suffix {
            visibility: visible;
          }
        }
      }
      .ant-form-item-with-help {
        margin-bottom: 6px;
      }
      .ant-form-explain {
        padding-left: 13px;
        font-size: 12px;
      }
      .ant-input {
        border-radius: 20px;
        height: 40px;
      }
      .ant-btn {
        border-radius: 20px;
        height: 40px;
      }
      .ant-btn-primary {
        background: rgba(30, 116, 255, 1);
      }
      .ant-input-suffix {
        cursor: pointer;
      }
      input:-webkit-autofill {
        background: none;
        background-image: none;
        box-shadow: inset 0 0 0 1000px #fff;
        -webkit-box-shadow: inset 0 0 0 1000px #fff;
      }
      .has-error .ant-input:focus {
        background: none;
        background-image: none;
        box-shadow: inset 0 0 0 1000px #fff;
        -webkit-box-shadow: inset 0 0 0 1000px #fff;
      }
    }
  }
  &__Brand {
    margin-bottom: 25px;
    color: #fff;
    font-size: 22px;
    text-align: center;

    &Logo {
      width: 220px;
      height: 110px;
    }
  }

  &__Main {
    padding: 38px 108px 14px 108px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    // border: 1px solid rgba(180, 233, 255, 0.1);
    border-radius: 12px;
  }
  @media screen and (max-width: 991px) {
    &__Main {
      padding: 38px 58px 14px 58px;
    }
  }

  &__ModeSwitch {
    margin-bottom: 25px;
  }

  &__Switcher {
    padding-bottom: 8px;
    width: 50%;
    background: none;
    border: 0 none;
    cursor: pointer;
    font-size: 14px;
    outline: 0 none;
    text-align: center;
    color: #ddd;
    transition: color ease-in-out 0.5s;

    &--active,
    &:hover {
      color: #5db1ff;
    }
    &--active {
      border-bottom: 2px solid #5db1ff;
    }
  }

  &__Form {
    max-width: 100%;
  }

  &__RequestSmsCode {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background: rgba(16, 45, 96, 0.8);
    border: 1px solid rgba(228, 231, 239, 0.4);
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 38px;
    outline: 0 none;

    &[disabled] {
      cursor: not-allowed;
    }
  }
}

/**
图片验证码
*/
.Codebox {
  &__Container {
    text-align: center;

    :global(.ant-input) {
      height: 50px;
      text-align: center;
      font-size: 24px;
    }
  }

  &__RefreshTip {
    margin: 12px 0 20px;
    font-size: 14px;
    color: #9ba0aa;
    text-align: center;
  }
  &__CaptchaImage {
    height: 60px;
    width: 100px;
    cursor: pointer;
  }
}
