@import '~antd/lib/style/themes/default';
@import '~antd/lib/style/mixins/index';

@import './components.less';

a {
  color: @link-color;

  &:hover {
    color: @link-hover-color;
  }

  &:active {
    color: @link-active-color;
  }

  &:active,
  &:hover {
    text-decoration: @link-hover-decoration;
  }
}

::selection {
  background: @primary-color;
  color: #fff;
}
