//
// @font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
//   'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
//   Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
//   'Segoe UI Symbol';
@font-size-base : 13px;
@font-size-lg : @font-size-base + 2px;
@border-color-base: #E4E7EF;
// @font-size-sm : 12px;

// Card
@card-padding-wider: 16px;
@card-head-padding: 10px;
@card-inner-head-padding: 0;
@card-padding-base: 16px;
@card-head-height: 30px;

.ant-card {
  &-head {
    font-weight: 500;
    min-height: @card-head-height;
    &-title {
      font-size: 14px;
      line-height: 1.5;
    }
    &-wrapper {
      align-items: center;
    }
  }
  &-bordered {
    border: @border-width-base @border-style-base #e4e7ef;
  }
  &-extra {
    padding: 0;
  }
}

//table
@table-padding-vertical: 12px;

//form
@input-height-base: 28px;
@btn-height-base: 28px;
@form-item-margin-bottom: 17px;

.ant-form-item-with-help {
  margin-bottom: 0px;
}
.ant-form-vertical .ant-form-explain,
.ant-form-vertical .ant-form-extra {
  margin-top: 0px;
}

//Avatar
@avatar-size-base: 28px;

//Pagination
@pagination-item-size: 28px;

//side-menu
.ant-menu-submenu-popup {
  z-index: 9999 !important;
}

//popover
.ant-popover {
  min-width: 144px;
}

// Media queries breakpoints
// Extra small screen / phone
@screen-xs : 480px;
@screen-xs-min : @screen-xs;

// Small screen / tablet
@screen-sm : 480px;
@screen-sm-min : @screen-sm;

// Medium screen / desktop
@screen-md : 480px;
@screen-md-min : @screen-md;
//table
.ant-table thead th {
  white-space: nowrap;
}
.ant-table-fixed-right {
  box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.08);
}


.ant-table-thead > tr > th {
  border-bottom: 1px solid @border-color-base;
  border-top: 1px solid @border-color-base;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid @border-color-base;
}

a:focus {
  text-decoration: none;
}

.ant-btn-primary {
  text-shadow: none;
}

.ant-table .ant-table-content .ant-table-placeholder::before {
  background: url(./empty_icon.png) center no-repeat;
  background-size: 100%;
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.ant-select-dropdown-menu-item {
  overflow: visible;
}
.ant-calendar-picker-input .ant-calendar-range-picker-input {
  text-align: left;
}
.ant-calendar-picker-input .ant-calendar-range-picker-separator {
  margin-right: 5px;
}
