/**
 * FixpathSchedule Style
 * @author ryan bian
 * @date 2018-9-17 09:04:56
 */
@import '../../theme/default/variable.less';

.FixpathSchedule {
  height: 100%;

  &__BottomActionButton {
    margin-right: @padding-sm;
  }
  &__InfoCard {
    margin-bottom: @padding-sm!important;
  }
  &__FormItem{
    :global{
      .ant-form-item-label label{
        color: #6E7382;
      }
      .ant-form-item-control{
        color: #1E283C
      }
    }
  }
}

.WeeklyEditor {
  display: flex;
  margin-top: @padding-sm;
  min-height: calc(100vh - 520px);
  justify-content: space-between;

  &__DayColumn {
    flex: 1;
    padding: @padding-sm / 2;
    background-color: #f9f9f9;
    margin-right: @padding-sm;
    border-top: 3px solid #B6B9CB;

    &:last-child {
      margin-right: 0;
    }
  }

  &__DayTitle {
    font-size: 14px;
    margin-left: 5px;
  }

  &__Card {
    position: relative;
    margin-bottom: @padding-sm;
    padding: @padding-sm / 2;
    background-color: #fff;
    border: 1px solid #e8e9eb;
    font-size: 12px;

    &:hover {
      background-color: @primary-1;
    }

    > p {
      margin: 0;
    }

    &Close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      color: #6E7382;
    }
  }

}
