/**
 * PageBottom Style
 * @author djd
 * @date 2018/9/14 上午8:12:01
 */
@import '../../theme/default/variable.less';

.PageBottom {
  padding: 0 @padding-md;
  height: 60px;
  border-top: solid 1px @border-color-base;

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 150px;
  right: 0;
  // width: 100%;
  background-color: #fff;
  z-index: 1;
  transition: left @animation-duration-base;

  .left {
    display: flex;
  }

  .right {
    display: flex;
  }

  .center {
    flex: 1;
    margin: 0 10px;
  }

  &.menuCollapsed {
    left: 43px;
  }
}
.pageBottomMargin {
  height: 60px;
}
