/**
 * CustomerAdd Style
 * @author lhf
 * @date 2018-10-24 14:27:35
 */
.CustomerAdd {
  &__BottomButton{
    background-color: #fff;
    text-align: center;
    &:first-child{
      margin-right: 10px;
    }
  }
}
