/**
 * MutiSelectWithEditableOptions Style
 * @author HuangSiFei
 * @date 2018-9-25 16:18:45
 */
.menu {
  max-height: 250px;
  overflow: auto;
}
.menu_item {
  line-height: 12px;
  overflow: hidden;
  &__check {
    background-color: #fafafa;
    &:hover {
      background-color: #fafafa;
    }
  }
  // write your style here
}
.menu_icon {
  float: right;
  font-size: 12px;
  color: #ddd;
  background-color: transparent;
  margin-top: 4px;
  &__check {
    color: #1890ff;
    // &:hover {
    //   background-color: #fafafa;
    // }
  }
  &__close{

  }
}
