.menu{
  max-height: 250px;
  overflow: auto;
}
.ant-select-selection{
  &:focus{
    border-color: #4794ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(30, 116, 255, 0.2);
    border-right-width: 1px !important;
  }
}
