.vehicleContainer {
  .detailBox {
    @top: 10px;
    border: 1px solid #e4e7ef;
    border-radius: 2px;
    width: 300px;
    position: absolute;
    top: @top;
    right:10px;
    z-index: 10;
    height: calc(100% - 20px);
  }
  .detailBoxHide{
    height: 38px;
    & :global(.ant-card-body){
      display: none;
    }
  }
  .carModelCar {
    & :global(.CarModelCarLong__section){
      min-width:185px !important;
    }
  }
  .memu{
    width:24px;
    height:24px;
    display: block;
  }
  .memuUP{
    background: url(../img/tf_menu_zhankai.png) no-repeat 0 0;
    background-size: contain;
  }
  .memuDOWN{
    background: url(../img/tf_menu_shouqi.png) no-repeat 0 0;
    background-size: contain;
  }

  .blockBox{
    overflow: hidden;
    height: calc(100% - 225px);
    .blockTag {
      font-size: 12px;
      padding: 0 10px;
      .label {
        color: #6E7382;
      }
      .span{
        color: #1E283C;
      }
    }
    .active{
      background: #F8F8F8;
    }
  }
  .searchCondition{
    & :global(.ant-form-item) {
      margin-bottom: 10px;
    }
  }

  & :global(.ant-card-type-inner .ant-card-body) {
    height: calc(100% - 15px);
  }

  & :global(.ant-list-vertical .ant-list-item-content) {
    margin-bottom: 0;
  }

  & :global(.ant-card-head-title) {
    height: 35px;
  }

  & :global(.ant-card-type-inner .ant-card-extra) {
    padding: 7px 0;
  }
}


