.optionButtons {
  display: flex;

  // align-content: center;
  // justify-content: center;
  align-items: center;

  :global(.ant-divider) {
    top: 0;
  }

  .moreBtn {
    border: none;
  }
}

.divMore {
  border: none;
}

.moreDropDown {
  z-index: 1029 !important;
}
