/**
 * waybill Style
 * @author yanw
 * @date 2018-9-14 16:12:09
 */
@import '../../theme/default/variable.less';
// :global(.ant-popover-inner-content) {
//   padding: 0;
// }
.WaybillWrap {
  &__Top {
    display: flex;
    // height: 74px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(228, 231, 239, 1);
    margin-bottom: 12px;
    text-align: center;
    height: 74px;
    // padding: 16px 0;

    > div {
      margin-top: 16px;
      width: 14.28%;
      font-weight: normal;
      > h3 {
        font-size: 14px;
        font-weight: 400;
        color: rgba(110, 115, 130, 1);
        margin-bottom: 0;
        line-height: 0;
        line-height: 1rem;
      }
      > h4 {
        font-size: 18px;
        font-weight: normal;
        color: rgba(30, 40, 60, 1);
        margin-bottom: 0;
        line-height: 0;
        line-height: 1rem;
        margin-top: 10px;
      }
    }
  }
  .WaybillList {
    padding: @padding-md;
    background-color: #fff;
    :global(.ant-form-item-label){
      width: 70px;
    }
    &__Form {
      padding-bottom: @padding-md;
      :global {
        .ant-form-item{
          display: flex;
          margin-right: 0;
        }
        .ant-form-item-control-wrapper {
          flex: 1;
        }
      }
      &Action {
        button {
          &:first-child {
            margin-right: 12px;
          }
        }
      }
    }
    &__actions {
      span{
        // margin-right: 8px;
        // border-right: solid 1px #e8e8e8;
        // padding-right: 8px;
      }
      // span:last-child{
      //   border-right: 0;
      // }
    }
    &__RightAction {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
