/**
 * FormDetailField Style
 * @author djd
 * @date 2018/9/14 下午2:28:02
 */
 .FormDetailField {
  display: flex;
  width: 100%;
  margin-top: 10px;

  .label {
    color: #6E7382;
    white-space: nowrap;
  }
  .value {
    color: #1E283C;
    word-wrap: break-word;
    word-break: break-all;
  }
}
