/**
 * Stowage Style
 * @author hefan
 * @date 2018/9/21 上午8:47:06
 */
.Stowage {
  // write your style here
  .FormWrap{
    margin-bottom: 20px;
  }
  .BottomTip{
    color: #f00;
  }
  // :global(.ant-table td){
  //   white-space: nowrap;
  // }
  // :global(.ant-table th){
  //   white-space: nowrap;
  // }
}
.ListTerm{
  width: 80px;
  text-align: right;
}
.ListDetail{
  color: #1E283C;
}
.ListTerm, .ListDetail{
  display: table-cell;
}
.require{
  color: #f00;
}
.StowageModel{
  & :global(.ant-input-affix-wrapper .ant-input:not(:last-child)){
    padding-right: 60px;
  }
  :global(.ant-row){
    margin-bottom: 15px;
  }
}

