/**
 * CommonAddressSelect Style
 * @author lhf
 * @date 2018-9-17 17:54:14
 */
 @import '../../theme/default/variable.less';
.CommonAddressSelect {
  background-color: #fff;
  :global{
    .ant-modal-body{
      padding-top: 14px;
    }
  }
  &__Form {
    padding-bottom: @padding-md;

    &Action {
      button {
        &:first-child {
          margin-right: 4px;
        }
      }
    }
  }

  &__RightAction {
    margin-top: 5px;
    text-align: right;
  }
}

