/**
 * NoticeBoard Style
 * @author hefan
 * @date 2018/9/13 下午3:49:56
 */
.NoticeBoard{
  .NoticeItemWrap{
    display: block;
    height:128px;
    line-height: 1.4;
    color: #6E7382;
    overflow: hidden;
    cursor: pointer;
    & span:first-child{
      color: #4B5564;
    }
    & span:last-child{
      margin-left:6px;
      color: #9BA0AA;
    }
  }
  :global(.ant-card-head-title){
    padding: 15px 0;
  }
}


