.divBottom {
  position: relative;
  bottom: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0 20px;

  background: url('../bottom/img/bsb_f_1.png') no-repeat center center;
  background-size: 98% 100%;
}

:global(.bstc__theme2) {
  .divBottom {
    background-image: url('../bottom/img/bsb_f_2.png');
  }
}
