.mapOrderGroup {
  @top: 54px;
  @fontSize: 12px;
  @firstColPaddingLeft: 10px;

  overflow: hidden;
  float: left;
  z-index: 2;
  background-color: #fff;
  width: 400px;
  top: @top;
  max-height: calc(100vh - 238px);

  .divMaxHeight {
    height: calc(100vh - 238px);
    width: 0px;
    position: absolute;
    background-color: #fff;
  }

  :global(.ant-table) {
    font-size: @fontSize;
    border-bottom: solid 1px rgb(232, 232, 232);
    td {
      padding: 9px 3px;
      text-align: left;
    }
    td:first-child {
      padding-left: @firstColPaddingLeft;
    }
    th {
      padding: 10px 3px;
      height: 38px;
      text-align: left;
      &:first-child {
        padding-left: @firstColPaddingLeft;
      }
    }

    :global(.ant-table-body) {
      tr {
        cursor: pointer;
      }
      tr.current {
        background-color: rgba(231, 243, 252, 1);
      }
      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  .groupName {
    width: 54px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ctrl {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: @fontSize;
  }
  .check {
    padding-left: @firstColPaddingLeft;
    font-size: @fontSize;
  }

  .split {
    flex-grow: 1;
  }

  .btn {
    margin-right: 12px;
    height: 28px;
    font-size: @fontSize;
  }
}
