:global(.maplibTcBtn_deskTop) {
  right: 50px !important;
  border-radius: 100px;
  width: 80px;
  height: 22px;
  border: solid 1px #55c2ff;
  background-color: #003f73;
  background-image: url(../map/img/mroadlkb_1.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

:global(.maplibTc) {
  margin-top: 2px;
  padding: 5px;
  background: #003f73;
  border: 1px solid #55c2ff;
  border-radius: 100px;

  :global(.maplibTcColor) {
    padding-left: 10px;
    color: #ffffff;
    background: url(../map/img/mroadlk.svg) no-repeat right 8px center;
    background-size: 136px 18px;
    height: 18px;
    line-height: 18px;
  }

  :global(.maplibTcView) {
    display: none;
  }
  :global(.maplibTcTime) {
    display: none;
  }
}

:global(.bstc__theme2) {
  :global(.maplibTcBtn_deskTop) {
    border: solid 1px #3384ff;
    background-color: #ffffff;
    background-image: url(../map/img/mroadlkb_2.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  :global(.maplibTc) {
    background: #ffffff;
    border: 1px solid #3384ff;

    :global(.maplibTcColor) {
      color: #4c4c4c;
    }
  }
}

.divMap {
  width: 100vw;
  height: 100vh;
}
