/**
 * CompanyStaff Style
 * @author HuangSiFei
 * @date 2018-9-19 17:33:32
 */
 @import '../../theme/default/variable.less';

.StaffList {
  padding: @padding-md;
  background-color: #fff;

  &__Form {
    padding-bottom: @padding-md;

    &Action {
      button {
        &:first-child {
          margin-right: 4px;
        }
      }
    }
  }

  &__RightAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__SelectAction {
    width: 96px;
  }
}
.link{
  &_disable:hover{
    color:rgba(0,0,0,.25);
    cursor: not-allowed;
  }
}
