/**
 * MapPointPicker Style
 * @author djd
 * @date 2018/9/12 下午3:15:57
 */
 .MapPointPickerModal{
   :global {
    .ant-alert{
      margin-bottom:10px;
      font-size:12px;
      margin-top:-10px;
    }
  }
 }

.MapPointPicker {
  // write your style here
  height: 330px;
  position: relative;

  .map {
    width: 100%;
    height: 100%;
  }

  .mapAddress{
    z-index: 99;
    position: absolute;
    top:20px;
    left: 20px;
    width: 250px;
  }
}

.bottomLayout{
  padding: 10px 0 0 0;
}
.bottomLayout input{
  margin-right: 15px;
  width: 620px;
}
