/**
 * FixpathDetail Style
 * @author lhf
 * @date 2018-9-25 16:19:00
 */
 @import '../../theme/default/variable.less';

.FixpathDetail {
  &__CardInfo{
    margin-bottom: @padding-sm!important;
    :global{
      .ant-form-item-label label{
        color: #6E7382;
      }
      .ant-form-item-control{
        color: #1E283C
      }
    }
  }
}
