.divMiddle {
  width: 23.5%;
  height: 100%;
  float: left;
  position: relative;

  .divT {
    display: table;
    width: 100%;
    height: 48%;
    position: absolute;
    top: 6%;

    .divCompanyName {
      display: table-cell;
      vertical-align: middle;
      font-size: 0.34rem;
      text-align: center;
      padding-top: 10px;
      color: #a4ceff;

      &.c-n-ss1 {
        font-size: 0.3rem;
      }
      &.c-n-ss2 {
        font-size: 0.28rem;
      }
    }
  }

  .divTitle {
    font-size: 0.24rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 58%;
    color: #ffffff;
    transform: translateY(-50%);
  }
  .divDateTime {
    font-size: 0.19rem;
    position: absolute;
    top: 68%;
    width: 100%;
    color: #ffffff;

    .divDate {
      position: absolute;
      left: 38%;
      width: 1rem;
      text-align: center;
      transform: translateX(-50%);
    }
    .divTime {
      position: absolute;
      left: 64%;
      width: 1rem;
      text-align: center;
      transform: translateX(-50%);
    }
  }
}

:global(.bstc__theme2) {
  .divMiddle {
    .divCompanyName {
      color: #3384ff;
    }
    .divTitle {
      color: #4d4d4d;
    }
    .divDateTime {
      color: #a9a9a9;
    }
  }
}
