@w: 312px;
.bg-tooltip-carinfo {
  position: absolute;
  z-index: 102;
  border-radius: 2px;
  width: @w;
  background-color: rgba(11,77,139,0.9);
  border: solid 2px #55C2FF;
  color: #ffffff;
  font-size: 14px;

  .bg-frame {
    position: relative;
    padding: 15px 25px;
    width: @w;
    box-sizing: border-box;

    .bg-address-time {
      position: relative;

      .bg-address {
        font-size: 14px;
      }
      .bg-time {
        margin-top: 3px;
        font-size: 12px;
      }
    }
    .bg-order-info {
      width: @w - 35px;
      font-size: 12px;
      background-color: rgba(85,194,255,0.4);
      margin: 0px -10px;
      padding: 5px 10px;
      border-radius: 5px;

      .bg-info-frame {
        position: relative;
        line-height: 24px;

        .to-detail {
          position: absolute;
          color: #00ccff;
          right: 0;
          cursor: pointer;
        }
        .status {
          position: absolute;
          right: 0;
          top: 4px;
          border: solid 1px #fff;
          border-radius: 2px;
          width: 35px;
          line-height: 15px;
          text-align: center;
        }
      }
    }
  }
}


.bg-tooltip-carinfo-curr {
  width: 26px;
  height: 13px;
  background: url(../tooltip/img/tpframe_p_1.svg) no-repeat;
  background-size: 26px 13px;
  position: absolute;
  z-index: 103;
}
.bg-tooltip-carinfo-curr-r180 {
  transform: rotate(180deg);
}




:global(.bstc__theme2) {
  .bg-tooltip-carinfo {
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 0 rgba(80,80,80,0.29);
    border: solid 2px #ffffff;
    color: #4d4d4d;


    .bg-order-info {
      background: #f0f0f0;
      color: #3384FF;

      .bg-info-frame {
        .to-detail {
          color: #ff9d9d;
        }
      }
    }

  }

  .bg-tooltip-carinfo-curr {
    background-image: url(../tooltip/img/tpframe_p_2.svg);
  }
}
