body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-width: 992px;
}

.mt5 {
  margin-top:5px;
}
.mt10 {
  margin-top:10px;
}
.mt15 {
  margin-top:15px;
}

.mb5 {
  margin-bottom:5px;
}
.mb10 {
  margin-bottom:10px;
}
.mb15 {
  margin-bottom:15px;
}

.ml5 {
  margin-left:5px;
}
.ml10 {
  margin-left:10px;
}
.ml15 {
  margin-left:15px;
}

.mr5 {
  margin-right:5px;
}
.mr10 {
  margin-right:10px;
}
.mr15 {
  margin-right:15px;
}

.pt5 {
  padding-top:5px;
}
.pt10 {
  padding-top:10px;
}
.pt15 {
  padding-top:15px;
}

.pb5 {
  padding-bottom:5px;
}
.pb10 {
  padding-bottom:10px;
}
.pb15 {
  padding-bottom:15px;
}

.pl5 {
  padding-left:5px;
}
.pl10 {
  padding-left:10px;
}
.pl15 {
  padding-left:15px;
}

.pr5 {
  padding-right:5px;
}
.pr10 {
  padding-right:10px;
}
.pr15 {
  padding-right:15px;
}

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.mapPointPicker {
  .ant-modal-body {
    padding: 0;
  }
}

// 百度地图地址搜索提示列表隐藏
.tangram-suggestion-main {
  display: none !important;
}

.my-nowrap {
  white-space: nowrap;
}
