/**
 * CompanyAccount Style
 * @author HuangSiFei
 * @date 2018-9-13 14:37:34
 */
.detailWrapper {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.label {
  white-space: nowrap;
  color: #1E283C;
}
.value {
  color: #6E7382;
}
