/**
 * LtlOrder Style
 * @author djd
 * @date 2018/9/13 下午1:48:50
 */
@import '../../theme/default/variable.less';

.LtlOrder {
  .total {
    border: 1px solid rgba(228, 231, 239, 1);
    border-radius: 2px;
    margin-bottom: 12px;
    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 14px;
        line-height: 1em;
        color: #6E7382;
      }
      .value {
        margin-top: 10px;
        font-size: 18px;
        line-height: 1em;
        color: #1E283C;
      }
    }
  }
  .optionButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;

    :first-child {
      margin-right: 10px;
    }
  }

  .condition {
    .btns {
      display: flex;
      justify-content: flex-end;

      :first-child {
        margin-right: 5px;
      }
    }
  }
}

.ImportOrder {
  &__PreEditor {
    margin-top: @padding-md!important;
  }
}

.EditTable {
  margin-top: @padding-md!important;
}

.EditableCell {
  padding: @padding-sm / 2 !important;
  font-size: 12px;

  :global(.ant-form-item) {
    font-size: 12px;
  }
  :global(.ant-form-item-control:not(.has-error)) {
    line-height: 1.5;
  }
  &__ValueWrap {
    // min-width: 100px;
    // height: 21px;
  }
  &__ConfirmBtn {
    padding: 0;
    border: 0 none;
    background: none;
    color: @success-color;
    cursor: pointer;
    outline: 0 none;
  }
}
